---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->

<!-- Sommaire -->
<div class="timeline-toc">
  <h2>Table of content</h2>
  <ul>
    {% assign publications_by_type = site.publications | group_by: "type" %}
    {% for type_group in publications_by_type %}
      <li><a href="#{{ type_group.name | slugify }}">{{ type_group.name }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="timeline">
  {% assign publications_by_type = site.publications | group_by: "type" %}

  {% for type_group in publications_by_type %}
    <!-- Affichage du type -->
    <div class="timeline-type">
      <h2>{{ type_group.name }}</h2>
    </div>

    {% assign sorted_posts = type_group.items | sort: "year" | reverse %}

    {% for post in sorted_posts %}
      <div class="timeline-item">
        <div class="timeline-circle">
          <span class="year">{{ post.year }}</span>
        </div>
        <div class="timeline-content">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          {% if post.authors %}
            <p class="publication-authors">{{ post.authors }}</p>
          {% endif %}
          {% if post.journal %}
            <p class="publication-journal">{{ post.journal }}</p>
          {% endif %}
          <p class="publication-summary">{{ post.excerpt }}</p>
          <a href="{{ post.url }}" class="read-more">Read more</a>
        </div>
        <div class="timeline-line"></div>
      </div>
    {% endfor %}
  {% endfor %}
</div>

